.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: #fff;
    background-color: rgb(238, 20, 20);
    cursor: pointer;
}

.customerlistbuttons{
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  justify-content: flex-end;
  align-items: center;
}