.transactions {
    flex: 4;
    padding: 20px;
}

.transactionsTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageIcon {
    font-size: 200px !important;
}